h2 {color: blue;}
.white {color: white;}
.dark-bg {background-color: black;}
.product_item {padding: 10px;  margin: 10px 0;}
.product_item img {width: 100%;}
img.user-photo {width: 100%;}
.p150 {width: 150px;}
.row {margin: 20px 0; }
.form-group * { margin: 5px 0; }
article {min-height: 512px;}